<template>
	<div>
		<div>
			<p>
				<a-button @click="livesBack">
					返回
				</a-button>
			</p>
			<p>
				<video ref="videoElement" :src="liveDetail.img" style="width: 1200px;height: 500px;"></video>
			</p>
			<p>
				{{ liveDetail.title }}--观看人数:{{ liveDetail.watch }}--
			</p>
		</div>
	</div>
</template>
<script>
import flvjs from 'flv.js';
export default {
	data() {
		return {
			videoElement: null,
			liveDetail: JSON.parse(localStorage.getItem('live'))
		}
	},
	methods: {
		livesBack() {
			location.href = '/home/broadcast'
		},
	},

	mounted() {
		if (flvjs.isSupported()) {
			this.flvPlayer = flvjs.createPlayer({
				type: 'flv',
				url: 'http://127.0.0.1:8000/live/zhibo.flv'
			});
			this.flvPlayer.attachMediaElement(this.$refs.videoElement);
			this.flvPlayer.load();
			this.flvPlayer.play();
		}
	}
}
</script>
<style></style>
