<template>
	<div>
		<div class="title">
			<h1>
				宏烨找房后台管理系统
			</h1>
		</div>
		<div>
			<a-layout style="min-height: 100vh">
				<a-layout-sider v-model:collapsed="collapsed" collapsible>
					<div class="logo">
						<p style="text-align: center;color: #eee;font-size: 25px;">管理员</p>
					</div>
					<a-menu theme="dark" v-model:selectedKeys="selectedKeys" mode="inline">
						<a-menu-item key="1">
							<DeploymentUnitOutlined />
							<span>
								<router-link to="/home/group">团购管理</router-link>
							</span>

						</a-menu-item>
						<a-menu-item key="2">
							<DeploymentUnitOutlined />
							<span>
								<router-link to="/home/broadcast">直播管理</router-link>
							</span>
						</a-menu-item>
						<a-menu-item key="3">
							<DeploymentUnitOutlined />
							<span>
								<router-link to="/home/resources">房源管理</router-link>
							</span>
						</a-menu-item>
						<a-menu-item key="4">
							<DeploymentUnitOutlined />
							<span>
								<router-link to="/home/examine">审核管理</router-link>
							</span>
						</a-menu-item>

						<a-menu-item key="5">
							<DeploymentUnitOutlined />
							<span>
								<router-link to="/home/order">订单管理</router-link>
							</span>
						</a-menu-item>

						<a-menu-item key="6">
							<DeploymentUnitOutlined />
							<span>
								<router-link to="/home/information">资讯管理</router-link>
							</span>
						</a-menu-item>

						<a-menu-item key="7">
							<DeploymentUnitOutlined />
							<span>
								<router-link to="/home/broker">经纪人管理</router-link>
							</span>
						</a-menu-item>

						<a-menu-item key="8">
							<DeploymentUnitOutlined />
							<span>
								<router-link to="/home/staff">员工管理</router-link>
							</span>
						</a-menu-item>

						<a-menu-item key="9">
							<DeploymentUnitOutlined />
							<span>
								<router-link to="/home/user">用户管理</router-link>
							</span>
						</a-menu-item>
					</a-menu>
				</a-layout-sider>
				<a-layout>
					<a-layout-header style="background: #eee; padding-bottom:10px">
						<a-space>
							<span>
								用户名:{{ username }}
							</span>
							<a-button @click="edit"> 退出登录 </a-button>
							<a-button @click="registry">注销</a-button>
						</a-space>
					</a-layout-header>
					<a-layout-content style="margin: 0 16px;overflow-y: auto;">
						<div :style="{ padding: '24px', background: '#fff', minHeight: '660px', overflow: 'auto' }">
							<router-view></router-view>
						</div>
					</a-layout-content>
					<a-layout-footer style="text-align: center"> Ant Design ©2018 Created by Ant UED </a-layout-footer>
				</a-layout>
			</a-layout>
		</div>
	</div>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import {
	AppstoreOutlined,
	DeploymentUnitOutlined,
	PieChartOutlined,
	DesktopOutlined,
	UserOutlined,
	TeamOutlined,
	FileOutlined,
} from "@ant-design/icons-vue";

export default defineComponent({
	components: {
		DeploymentUnitOutlined,
		AppstoreOutlined,
		PieChartOutlined,
		DesktopOutlined,
		UserOutlined,
		TeamOutlined,
		FileOutlined,
	},
	setup() {
		//用户信息
		const { username } = JSON.parse(localStorage.getItem('userinfo') as string)
		const edit = () => {
			window.location.href = "/user/login";
		};
		const registry = () => {
			window.location.href = "/user/registry";
			window.localStorage.removeItem('token');
			window.localStorage.removeItem('userinfo')
		}
		return {
			username,
			edit, registry,
			collapsed: ref<boolean>(false),
			selectedKeys: ref<string[]>(["1"]),
		};
	},
});
</script>
<style>
#components-layout-demo-side .logo {
	height: 32px;
	margin: 16px;
	background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
	background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background {
	background: #141414;
}

.title {
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	color: #fff;
	background: blue;
}
</style>
