<template>
	<div>
		<div class="liveTitle">
			<h4>直播管理</h4>
		</div>
		<div class="liveStatus">
			<div>
				<span>直播状态：</span>
				<a-space>
					<a-select ref="select" v-model:value="value1" style="width: 120px" @focus="focus"
						@change="handleChange">
						<a-select-option value="请选择">请选择</a-select-option>
						<a-select-option value="直播中">直播中</a-select-option>
						<a-select-option value="已结束">已结束</a-select-option>
					</a-select>
				</a-space>
			</div>
			<div style="display: flex; align-items: center;margin-left: 50px;">
				<p>直播搜索：</p>
				<a-input-search v-model:value="value" placeholder="姓名、ID" style="width: 200px" @search="onSearch" />
			</div>
		</div>
		<!-- 直播列表切换 -->
		<div class="liveBox">
			<a-tabs v-model:activeKey="activeKey">
				<a-tab-pane :tab="beforLive">
					<div class="liveTab">
						<div class="Lbox" v-for="item in live" :key="item.id">
							<p>
								<img style="width: 180px;height: 180px;margin-left: 30px;" :src="item.img" alt="">
							</p>
							<p>
								{{ item.name }}-{{ item.title }}
							</p>
						</div>
					</div>
				</a-tab-pane>
				<a-tab-pane key="2" :tab="Lives" force-render>
					<div class="liveTab">
						<div class="Lbox" v-for="item in live" :key="item.id">
							<p>
								<img style="width: 180px;height: 180px;margin-left: 30px;" :src="item.img" alt="">
							</p>
							<p>
								{{ item.name }}-{{ item.title }}----观看人数:{{ item.watch }}
								<a-button @click="() => liveBtn(item)">
									{{ item.status == Lives && item.status == 1 ? '未直播' : '直播中' }}
								</a-button>
							</p>
						</div>
					</div>
				</a-tab-pane>
				<a-tab-pane key="3" :tab="afterLive">
					<div class="liveTab">
						<div class="Lbox" v-for="item in live" :key="item.id">
							<p>
								<img style="width: 180px;height: 180px;margin-left: 30px;" :src="item.img" alt="">
							</p>
							<p>
								{{ item.name }}-{{ item.title }}
								<a-button>
									{{ item.status == afterLive && item.status == 0 ? '直播中' : '直播结束' }}
								</a-button>
							</p>
						</div>
					</div>
				</a-tab-pane>
			</a-tabs>
		</div>
	</div>
</template>

<script lang="ts">

import axios from 'axios';
import router from '../../router';
import { onMounted, ref, toRaw } from 'vue';
import type { SelectProps } from 'ant-design-vue';


export default {
	setup() {
		const beforLive = '全部直播';
		const Lives = '直播中';
		const afterLive = '结束直播';

		const value1 = ref('请选择');
		const value2 = ref('直播中');
		const value3 = ref('已选择');
		const options = ref<SelectProps['options']>([
			{
				value: '请选择',
				label: '请选择',
			},
			{
				value: '直播中',
				label: '直播中',
			},
			{
				value: '已结束',
				label: '已结束',
			},
		]);


		//直播
		const liveBtn = (item: string) => {
			// location.href=`/detail/:${item.id}`
			router.replace(`/detail/${item.id}`);
			localStorage.setItem('live', JSON.stringify(toRaw(item)));
		}


		const focus = () => {
			console.log('focus');
		};

		const handleChange = (value: string) => {
			console.log(`selected ${value}`);
		};
		// 搜索
		const value = ref<string>('');

		const onSearch = (searchValue: string) => {
			console.log('use value', searchValue);
			console.log('or use this.value', value.value);
		};
		// 列表切换
		const activeKey = ref('1');
		//获取数据
		const live = ref([]);

		const lives = async () => {
			await axios.get('/api/getlive').then(({ data }) => {
				live.value = data.result;
			})
		}
		onMounted(() => {
			lives();
		})
		return {
			value1, value2, value3, focus, handleChange, options,
			onSearch,
			activeKey, live, beforLive, Lives, afterLive,
			//直播
			liveBtn
		}
	},

}
</script>

<style scoped lang="less">
.liveTitle {
	height: 50px;
	line-height: 50px;
}

.liveStatus {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
}

.liveBox {
	width: 100%;
	height: 600px;
	overflow-y: auto;
}

.liveTab {
	display: flex;
	flex-wrap: wrap;
}

.Lbox {
	width: 260px;
	height: 300px;
	border: 2px solid skyblue;
	margin: 5px;
}
</style>
