<template>
	<div>
		<div>
			<p>
				经纪人管理
			</p>
			<div>
				<span>
					搜索：
				</span>
				<span>
					<a-input-search v-model:value="searchborket" style="width: 30%;" placeholder="请输入经纪人/手机号" enter-button
						@search="onSearch" />
				</span>
				<span>
					<span>
						状态：
					</span>
					<span>
						<a-select v-model:value="secondCity" style="width: 150px"
							:options="cities.map(city => ({ value: city }))">
						</a-select>
					</span>
				</span>
				<span>
					<a-button>
						查询
					</a-button>
				</span>
				<span>
					<BrokersMod />
				</span>
			</div>
		</div>
		<div>
			<a-table :columns="columns" :data-source="broker">
				<template #name="{ text }">
					<a>{{ text }}</a>
				</template>
				<template #customTitle>
					<span>
						Name
					</span>
				</template>
				<template #action="{ record }">
					<span>
						<a>编辑</a>
						<a-divider type="vertical" />
						<a @click="delBrokers(record.id)">删除</a>
					</span>
				</template>
			</a-table>
		</div>
	</div>
</template>

<script lang="ts">

import axios from 'axios';
import { onMounted } from 'vue';
import { message } from 'ant-design-vue';
import BrokersMod from '../../components/Broker/broker.vue'
import { SmileOutlined, DownOutlined } from '@ant-design/icons-vue';
import { defineComponent, reactive, toRefs, computed, watch, ref } from 'vue';



interface DataItem {
	id: number | string;
	name: string;
	mobile: number;
	company: number;
	first_hand_house: number;
	second_hand_house: number;
	lease_house: string;
	status: string;
}

export default defineComponent({
	components: {
		SmileOutlined,
		DownOutlined,
		BrokersMod,
	},
	setup() {

		const provinceData = ['Zhejiang', 'Jiangsu'];
		const cityData = {
			Zhejiang: ['Hangzhou', 'Ningbo', 'Wenzhou'],
			Jiangsu: ['Nanjing', 'Suzhou', 'Zhenjiang'],
		};

		const value = ref<string>('');
		const province = provinceData[0];
		const state = reactive({
			province,
			provinceData,
			cityData,
			secondCity: cityData[province][0],
		});

		const cities = computed(() => {
			return cityData[state.province];
		});

		watch(
			() => state.province,
			val => {
				state.secondCity = state.cityData[val][0];
			},
		);

		//经纪人
		const columns = [
			{
				title: '姓名',
				dataIndex: 'name',
				key: 'name',
				slots: { title: 'customTitle', customRender: 'name' },
			},
			{
				title: '手机号',
				dataIndex: 'mobile',
				key: 'mobile',
			},
			{
				title: '公司',
				dataIndex: 'company',
				key: 'company',
			},
			{
				title: '新房',
				dataIndex: 'first_hand_house',
				key: 'first_hand_house',
			},
			{
				title: '二手房',
				dataIndex: 'second_hand_house',
				key: 'second_hand_house',
			},
			{
				title: '租房',
				dataIndex: 'lease_house',
				key: 'lease_house',
			},
			{
				title: '状态',
				dataIndex: 'status',
				key: 'status',
				filters: [
					{ text: '在职', value: '在职' },
					{ text: '离职', value: '离职' },
				],
				onFilter: (value: string, record: DataItem) => record.status.includes(value),
			},
			{
				title: '操作',
				key: 'action',
				slots: { customRender: 'action' },
			},
		];
		const broker = ref([]);
		const brokers = async () => {
			await axios.get('/api/getbroker').then(({ data }) => {
				if (data.code) {
					broker.value = data.result;
					searchValue.value = data.result;
				}
			})
		}

		//搜索

		const searchborket = ref('');
		const searchValue = ref([]);

		const onSearch = () => {
			const newBroket = ref([]);
			newBroket.value = searchValue.value.filter((item: any) => item.name === searchborket.value);
			broker.value = newBroket.value;

		}
		//删除
		const delBrokers = async (id: number | string) => {
			await axios.post('/api/delbrokers', { id }).then(({ data }) => {
				if (data.code) {
					message.success(data.message);
				}
			})
			location.href = '/home/broker'
		}
		onMounted(() => {
			brokers()
		})
		return {
			broker,
			columns,
			brokers,
			value,
			...toRefs(state),
			cities,
			delBrokers,
			//搜索
			searchborket,
			searchValue,
			onSearch,
		};
	},

});
</script>
