<template>
	<div>
		<Examine />
		<div>
			<a-table :columns="columns" :data-source="examine">
				<template #name="{ text }">
					<a>{{ text }}</a>
				</template>
				<template #customTitle>
					<span>
						Name
					</span>
				</template>
				<template #action="{ record }">
					<span>
						<a @click="examinesDetail(record)">详情</a>
						<a-divider type="vertical" />
					</span>
				</template>
			</a-table>
		</div>

	</div>
</template>

<script lang="ts" setup>

import axios from 'axios';
import { onMounted, ref } from 'vue';
import Examine from '../../components/Examine/Examine.vue';

interface DataItem {
	id: number | string;
	name: string;
	county: number;
	city: number;
	area: number;
	state: string;
}

const columns = [
	{
		title: '序号',
		dataIndex: 'id',
		key: 'id',
	},
	{
		title: '用户名',
		dataIndex: 'name',
		key: 'name',
	},
	{
		title: '小区名称',
		dataIndex: 'county',
		key: 'county',
	},
	{
		title: '地址',
		dataIndex: 'city',
		key: 'city',
	},
	{
		title: '面积',
		dataIndex: 'area',
		key: 'area',
	},
	{
		title: '状态',
		dataIndex: 'state',
		key: 'state',
		filters: [
			{ text: '审核未通过', value: '审核未通过' },
			{ text: '审核通过', value: '审核通过' },
			{ text: '待审核', value: '待审核' },
			{ text: '未审核', value: '未审核' },
		],
		onFilter: (value: string, record: DataItem) => record.state.includes(value),
	},
	{
		title: '操作',
		key: 'action',
		slots: { customRender: 'action' },
	},
];
const examine = ref([]);
const examines = async () => {
	await axios.get('/api/getExamine').then(({ data }) => {
		if (data.code) {
			examine.value = data.result;
		}
	})
}
const examinesDetail=(record:string)=>{
	localStorage.setItem('examinesDetail',JSON.stringify((record)) as string);
	location.href='/examine/detail';
}
onMounted(() => {
	examines()
})
</script>
