<template>
	<div>
		<div>
			<p>
				团购管理
			</p>
			<div class="fangBox">
				<div>
					<a-tabs type="card" v-model:activeKey="activeKey">
						<a-tab-pane key="1" tab="新房售卖">
							<div>
								<span>
									<span>搜索：</span>
									<a-input-search v-model:value="valuegroup" style="width: 15%;" placeholder="团购名称"
										enter-button @search="onSearch" />
								</span>
								<span>
									<span>状态：</span>
									<a-select v-model:value="value" style="width: 120px"
										:options="items.map(item => ({ value: item }))">
									</a-select>
								</span>
							</div>
						</a-tab-pane>
						<a-tab-pane key="2" tab="二手房售卖">
							<h1>
								二手房售卖
							</h1>
						</a-tab-pane>
						<a-tab-pane key="3" tab="房屋租赁">
							<h1>
								房屋租赁
							</h1>
						</a-tab-pane>
					</a-tabs>
				</div>
			</div>
			<div class="addButton">
				<Modal />
			</div>
		</div>
		<div>
			<a-table :columns="columns" :data-source="table">
				<template #name="{ text }">
					<a>{{ text }}</a>
				</template>
				<template #img="{ text }">
					<a-image :width="120" :src="text" />
				</template>
				<template #customTitle>
					<span>
						<smile-outlined />
						Name
					</span>
				</template>
				<template #action="{ record }">
					<span>
						<a-space>
							<a>编辑</a>
							<a-divider type="vertical" />
							<a-popconfirm title="你确定要删除吗" ok-text="确定" cancel-text="取消"
								@confirm="() => confirm(record.group_id)" @cancel="cancel">
								<a>删除</a>
							</a-popconfirm>
							<a-divider type="vertical" />
						</a-space>
					</span>
				</template>
			</a-table>
		</div>
	</div>
</template>
<script lang="ts">


import { PlusOutlined } from '@ant-design/icons-vue';
let index = 0;

import axios from 'axios';
import { message } from 'ant-design-vue';
import Modal from '../../components/Modal.vue';
import { defineComponent, onMounted, ref } from 'vue';
import { SmileOutlined, DownOutlined } from '@ant-design/icons-vue';


export default defineComponent({
	components: {
		SmileOutlined,
		DownOutlined, Modal,
		PlusOutlined,
		VNodes: (_, { attrs }) => {
			return attrs.vnodes;
		},
	},
	setup() {
		//tab
		const items = ref(['jack', 'lucy']);
		const value = ref('lucy');

		const addItem = () => {
			console.log('addItem');
			items.value.push(`New item ${index++}`);
		};
		//表格
		const columns = [
			{
				title: '团购名称',
				dataIndex: 'group_title',
				key: 'group_title',
				width: "10%"
			},
			{
				title: '图片',
				dataIndex: 'img',
				key: 'img',
				width: "8%",
				slots: { customRender: 'img' },
			},
			{
				title: '房子名称',
				dataIndex: 'house_name',
				key: 'house_name',
				width: "8%"
			},
			{
				title: '省份',
				dataIndex: 'province',
				key: 'province',
				width: "8%"
			},
			{
				title: '城市',
				dataIndex: 'city',
				key: 'city',
				width: "8%"
			},
			{
				title: '区域',
				dataIndex: 'county',
				key: 'county',
				width: "8%"
			},
			{
				title: '详细地址',
				dataIndex: 'address',
				key: 'address',
				width: "10%"
			},
			{
				title: '创建时间',
				dataIndex: 'start_time',
				key: 'start_time',
				width: "13%"
			},
			{
				title: '结束时间',
				dataIndex: 'end_time',
				key: 'end_time',
				width: "13%"
			},
			{
				title: '描述',
				dataIndex: 'group_info',
				key: 'group_info',
				width: "10%"
			},

			{
				title: '操作',
				key: 'action',
				slots: { customRender: 'action' },
				width: "10%"

			},
		];


		const table = ref([]);
		const list = async () => {
			await axios.get('/api/housing').then(({ data }) => {
				table.value = data.result;
				valuesGroup.value = data.result
			})
		}

		//搜索

		const valuegroup = ref<string>('');
		const valuesGroup = ref([]);

		const onSearch = () => {
			const newGroup = ref([]);
			newGroup.value = valuesGroup.value.filter((item: any) => item.group_title === valuegroup.value);
			table.value = newGroup.value;
		};
		const confirm = async (group_id: any) => {
			await axios.post('/api/delGroups', { group_id }).then(({ data }) => {
				if (data.code) {
					message.success(data.message);

				}
			})
			location.href = '/home/group'
		};

		const cancel = (e: MouseEvent) => {
			console.log(e);
			message.error('Click on No');
		};
		onMounted(() => {
			list()
		})
		return {
			table,
			columns,
			confirm,
			cancel,
			activeKey: ref('1'),
			items,
			value,
			addItem,
			//搜索
			valuegroup,
			onSearch,
		};
	},

});
</script>
<style>
.fangBox {
	height: 100px;
}

.addButton {
	height: 60px;
}
</style>
