<template>
	<div>	
		<Information/>
		<div>
			<a-table :columns="columns" :data-source="information">
				<template #name="{ text }">
					<a>{{ text }}</a>
				</template>
				<template #customTitle>
					<span>
						Name
					</span>
				</template>
				<template #action="{ record }">
					<span>
						<a>编辑</a>
						<a-divider type="vertical" />
						<a>权限设置</a>
						<a-divider type="vertical" />
						<a>删除</a>
						<a-divider type="vertical" />
					</span>
				</template>
			</a-table>
		</div>

	</div>
</template>

<script lang="ts" setup>
import axios from 'axios';
import { onMounted, ref } from 'vue';
import Information from '../../components/Information/information.vue'



const columns = [
	{
		title: '序号',
		dataIndex: 'id',
		key: 'id',
	},
	{
		title:'文章标题',
		dataIndex: 'title',
		key: 'title',
	},
	{
		title: '创建人',
		dataIndex: 'name',
		key: 'name',
	},
	{
		title: '创建日期',
		dataIndex: 'create_time',
		key: 'create_time',
	},
	{
		title: '状态',
		dataIndex: 'status',
		key: 'status',
	},
	{
		title: '操作',
		key: 'action',
		slots: { customRender: 'action' },
	},
];
const information=ref([]);
const informations=async ()=>{
	await axios.get('/api/getInformations').then(({data})=>{
		if(data.code){
			information.value=data.result;
		}
	})
}
onMounted(()=>{
	informations()
})
</script>
