<template>
	<div>
		<h4>订单管理</h4>
		<div style="display: flex;align-items: center;width: 100%;height: 50px;">
			<div>状态：
				<a-select ref="select" v-model:value="value1" style="width: 120px" @focus="focus" @change="handleChange">
					<a-select-option value="请选择">请选择</a-select-option>
					<a-select-option value="二手房出租">二手房出租</a-select-option>
					<a-select-option value="有房出租">有房出租</a-select-option>
					<a-select-option value="我想买个房">我想买个房</a-select-option>
					<a-select-option value="我想租个房">我想租个房</a-select-option>
					<a-select-option value="求购">求购</a-select-option>
					<a-select-option value="求租">求租</a-select-option>
				</a-select>
			</div>
			<div style="display: flex;align-items: center;margin-left: 20px;">
				搜索：
				<a-input-search v-model:value="valueOrder" placeholder="请输入手机号/用户名/订单号" style="width: 260px;" enter-button
					@search="onSearch" />
				<a-button type="primary">查询</a-button>

			</div>
		</div>

		<a-table :columns="columns" :data-source="arr" rowKey="id">
			<template #headerCell="{ column }">
				<template v-if="column.key === 'name'">
					<span>
						姓名
					</span>
				</template>
			</template>

			<template #bodyCell="{ column, record }">

				<template v-if="column.key === 'action'">
					<span>
						<a>查看{{ record.name }}</a>
					</span>
				</template>
			</template>
		</a-table>
	</div>
</template>

<script lang="ts">
import axios from 'axios'
import { watch, ref, onMounted } from 'vue';
import type { SelectProps } from 'ant-design-vue';


export default {
	setup() {
		const value = ref<string>('');
		watch(value, () => {
			console.log(value.value);
		});

		const value1 = ref('请选择');
		const value2 = ref('二手房出租');
		const value3 = ref('有房出租');
		const value4 = ref('我想买个房');
		const value5 = ref('我想租个房');
		const value6 = ref('求购');
		const value7 = ref('求租');


		const options = ref<SelectProps['options']>([
			{
				value: '请选择',
				label: '请选择',
			},
			{
				value: '二手房出租',
				label: '二手房出租',
			},

			{
				value: '有房出租',
				label: '有房出租',
			},
			{
				value: '我想买个房',
				label: '我想买个房',
			},
			{
				value: '我想租个房',
				label: '我想租个房',
			},
			{
				value: '求购',
				label: '求购',
			},
			{
				value: '求租',
				label: '求租',
			},
		]);
		const focus = () => {
			console.log('focus');
		};

		const handleChange = (value: string) => {
			console.log(`selected ${value}`);
		};

		const columns = [
			{
				title: '订单编号',
				dataIndex: 'uid',
				key: 'uid',
			},
			{
				title: '用户名',
				dataIndex: 'categray',
				key: 'categray',
			},
			{
				title: '手机号',
				dataIndex: 'mobile',
				key: 'mobile',
			},
			{
				title: '支付金额',
				dataIndex: 'payment',
				key: 'payment',
			},
			{
				title: '起始时间',
				key: 'create_time',
				dataIndex: 'create_time',
			},
			{
				title: '结束时间',
				key: 'update_time',
				dataIndex: 'update_time',
			},
			{
				title: '团购状态',
				key: 'tags',
				dataIndex: 'tags',
			},
			{
				title: '状态',
				key: 'tags',
				dataIndex: 'tags',
			},
			{
				title: '操作',
				key: 'action',
			},
		];

		//搜索
		const valueOrder = ref('');
		const orderValue = ref([]);

		const arr = ref([])
		const data = async () => {
			await axios.get('/api/getOrder').then((res) => {
				if (res.data.code == 1) {
					arr.value = res.data.result;
					orderValue.value = res.data.result;
				}
			})
		}


		//搜索
		const onSearch = () => {
			const newOrder = ref([]);
			newOrder.value = orderValue.value.filter((item: any) => item.mobile === valueOrder.value);
			arr.value = newOrder.value;
		};
		onMounted(() => {
			data()
		})

		return {
			value, value1, value2, value3, value4, value5, value6, value7, options,
			focus, handleChange,
			columns,
			arr, valueOrder, onSearch
		}
	},
}
</script>

<style></style>
