<template>
	<div>
		<HouseVue />
		<div class="main">
			<a-table :columns="columns" :data-source="resource">
				<template #name="{ text }">
					<a>{{ text }}</a>
				</template>
				<template #customTitle>
					<span>
						Name
					</span>
				</template>
				<template #action="{ record }">
					<span>
						<a @click="resourcesDetail(record)">详情</a>
						<a-divider type="vertical" />
						<a>编辑</a>
						<a-divider type="vertical" />
						<a @click="delResources(record.id)">删除</a>
					</span>
				</template>
			</a-table>
		</div>
	</div>
</template>

<script lang="ts" setup>
import axios from "axios";
import { onMounted, ref } from "vue";
import { message } from "ant-design-vue";
import HouseVue from "../../components/House/House.vue";
interface DataItem {
	id: number | string;
	name: string;
	title: string;
	county: number;
	total_prices: string;
	rank: string;
	update_time: string;
	state: string;
}

const columns = [
	{
		title: '序号',
		key: 'id',
		dataIndex: 'id',
		width: '5%',
	},
	{
		title: '楼盘名称',
		key: 'title',
		dataIndex: 'title',
		width: '13%',
	},
	{
		title: '详细地址',
		key: 'county',
		dataIndex: 'county',
		width: '10%',
	},
	{
		title: '价格',
		key: 'total_prices',
		dataIndex: 'total_prices',
		width: '10%',
	},
	{
		title: '排序',
		key: 'rank',
		dataIndex: 'rank',
		width: '10%',
	},
	{
		title: '更新时间',
		key: 'update_time',
		dataIndex: 'update_time',
		width: '16%',
	},
	{
		title: '状态',
		key: 'state',
		dataIndex: 'state',
		width: '10%',
		filters: [
			{ text: '审核未通过', value: '审核未通过' },
			{ text: '审核通过', value: '审核通过' },
			{ text: '待审核', value: '待审核' },
			{ text: '未审核', value: '未审核' },
		],
		onFilter: (value: string, record: DataItem) => record.state.includes(value),
	},
	{
		title: '经纪人',
		key: 'name',
		dataIndex: 'name',
		with: '8%',
	},
	{
		title: '操作',
		key: 'action',
		slots: { customRender: 'action' },
	},
];

const resource = ref([]);
const resources = async () => {
	await axios.get('/api/getControls').then(({ data }) => {
		if (data.code) {
			resource.value = data.result;
		}
	})
}
//删除房源数据
const delResources= async (id:string|number)=>{
	await axios.post('/api/delResources',{id}).then(({data})=>{
		if(data.code){
			message.success(data.message);
			location.href='/home/resources'
		}else{
			message.error(data.message);
		}
	})
}
//跳详情
const resourcesDetail=(record:string)=>{
	localStorage.setItem('resourcesDetail',JSON.stringify(record) as string);
	location.href='/resources/detail'
}

onMounted(() => {
	resources()
})
</script>

<style scoped></style>



