<template>
	<div>
		<div>
			<div>
				员工管理
			</div>
			<div>
				<a-tabs type="card" v-model:activeKey="activeKey">
					<a-tab-pane key="1" tab="部门列表">
						<div>
							<span>
								<span>搜索：</span>
								<span>
									<a-input-search v-model:value="valuesearch" placeholder="请输入部门名称" style="width: 200px"
										@search="onSearch" />
								</span>
							</span>
							<span>
								<a-button type="primary" @click="showModal">创建部门</a-button>
							</span>
							<div>
								<a-modal v-model:visible="visible" title="创建部门" @ok="handleOk">
									<div>

										<a-form name="custom-validation" ref="formRef" :model="formState" v-bind="layout"
											@finish="handleFinish" @finishFailed="handleFinishFailed">
											<a-form-item ref="jobNum" label="员工数量" name="jobNum">
												<a-input v-model:value="formState.jobNum" />
											</a-form-item>
											<a-form-item ref="name" label="负责人" name="name">
												<a-input v-model:value="formState.name" />
											</a-form-item>
											<a-form-item ref="job" label="职务" name="job">
												<a-input v-model:value="formState.job" />
											</a-form-item>
											<a-form-item ref="tel" label="手机号" name="tel">
												<a-input v-model:value="formState.tel" />
											</a-form-item>
											<a-form-item :wrapper-col="{ span: 14, offset: 4 }">
												<a-button type="primary" html-type="submit">确定</a-button>
												<a-button style="margin-left: 10px" @click="resetForm">取消</a-button>
											</a-form-item>
										</a-form>
									</div>
								</a-modal>
							</div>

						</div>
					</a-tab-pane>
					<a-tab-pane key="2" tab="员工列表">
						<h1>
							员工123
						</h1>
					</a-tab-pane>
				</a-tabs>
			</div>
		</div>
		<div>
			<a-table :columns="columns" :data-source="staff">
				<template #name="{ text }">
					<a>{{ text }}</a>
				</template>
				<template #customTitle>
					<span>
						Name
					</span>
				</template>
				<template #action="{ record }">
					<span>
						<a>编辑</a>
						<a-divider type="vertical" />
						<a>权限设置</a>
						<a-divider type="vertical" />
						<a @click="delStaff(record.id)">删除</a>
						<a-divider type="vertical" />
					</span>
				</template>
			</a-table>
		</div>
	</div>
</template>

<script lang="ts" setup>
import axios from 'axios';
import { onMounted, ref } from 'vue';
import { message } from 'ant-design-vue';
import { reactive, UnwrapRef } from 'vue';
import { ValidateErrorEntity } from 'ant-design-vue/es/form/interface';

interface FormState {
	jobNum: string | undefined;
	name: string | undefined;
	job: string | undefined;
	tel: string | undefined;
}



const visible = ref<boolean>(false);

//搜索
const valuesearch = ref('');
//接收搜索后的空数组
const searchArr = ref<any>([])

//表单
const formRef = ref();

const activeKey = ref('1');

const formState: UnwrapRef<FormState> = reactive({
	jobNum: undefined,
	name: undefined,
	job: undefined,
	tel: undefined
});
const layout = {
	labelCol: { span: 4 },
	wrapperCol: { span: 14 },
};
const handleFinish = async (values: FormState) => {
	await axios.post('/api/addStaff', values).then(({ data }) => {
		if (data.code) {
			message.success(data.message);
		} else {
			message.error(data.message);
		}
	})
};

const showModal = () => {
	visible.value = true;
};

const handleOk = () => {
	visible.value = false;
	location.href = '/home/staff'
};

const handleFinishFailed = (errors: ValidateErrorEntity<FormState>) => {
	console.log(errors);
};
const resetForm = () => {
	formRef.value.resetFields();
};



const columns = [
	{
		title: '员工数量',
		dataIndex: 'jobNum',
		key: 'jobNum',
	},
	{
		title: '负责人',
		dataIndex: 'name',
		key: 'name',
	},
	{
		title: '职务',
		dataIndex: 'job',
		key: 'job',
	},
	{
		title: '手机号',
		dataIndex: 'tel',
		key: 'tel',
	},
	{
		title: '操作',
		key: 'action',
		slots: { customRender: 'action' },
	},
];
const staff = ref([]);
//获取
const staffs = async () => {
	await axios.get('/api/getStaff').then(({ data }) => {
		if (data.code) {
			staff.value = data.result;
			searchArr.value = data.result;
		}
	})
}

//搜索
const onSearch = () => {
	const newArr=ref([]);
	newArr.value = searchArr.value.filter((item: any) => item.name == valuesearch.value);
	staff.value = newArr.value;
};

//删除
const delStaff = async (id: number | string) => {
	await axios.post('/api/delStaff', { id }).then(({ data }) => {
		if (data.code) {
			message.success(data.message);
			location.href = '/home/staff';
		} else {
			message.error(data.message);
		}
	})
}
onMounted(() => {
	staffs()
})
</script>
