<template>
	<div>
		<div>
			<p>
				用户管理
			</p>
			<div>
				<span>
					搜索：
				</span>
				<span>
					<a-input-search v-model:value="valueSearch" style="width: 30%;" placeholder="请输入用户名、手机号" enter-button
						@search="onSearch" />
				</span>
				<span>
					<a-button>
						查询
					</a-button>
				</span>
				<span>
					<UsersModal />
				</span>
			</div>
		</div>
		<div>
			<a-table :columns="columns" :data-source="userList">
				<template #name="{ text }">
					<a>{{ text }}</a>
				</template>
				<template #customTitle>
					<span>
						<smile-outlined />
						Name
					</span>
				</template>
				<template #action="{ record }">
					<span>
						<a @click="delUsers(record.id)">删除</a>
					</span>
				</template>
			</a-table>
		</div>
	</div>
</template>

<script lang="ts" setup>
import axios from 'axios';
import { onMounted, ref } from 'vue';
import { message } from 'ant-design-vue';
import UsersModal from '../../components/Users/users.vue';
import { SmileOutlined, } from '@ant-design/icons-vue';

const columns = [
	{
		title: '序号',
		dataIndex: 'id',
		key: 'id',
		width: '30%'
	},
	{
		title: '用户名',
		dataIndex: 'username',
		key: 'username',
		width: '20%'
	},
	{
		title: '手机号',
		dataIndex: 'mobile',
		key: 'mobile',
		width: '30%'
	},
	{
		title: '操作',
		key: 'action',
		slots: { customRender: 'action' },
		width: '30%'
	},
];
//搜索
const valueSearch = ref<string>('');
const searchValue = ref([]);

const userList = ref([]);
const userLists = async () => {
	await axios.get('/api/getUserList').then(({ data }) => {
		if (data.code) {
			userList.value = data.result;
			searchValue.value = data.result;
		}
	})
}
//搜索


const onSearch = () => {
	const newArr = ref([]);
	newArr.value = searchValue.value.filter((item: any) => item.username === valueSearch.value);
	userList.value = newArr.value;
};
//删除用户
const delUsers = async (id: string | number) => {
	await axios.post('/api/delUsers', { id }).then(({ data }) => {
		if (data.code) {
			message.success(data.message);
			location.href = '/home/user';
		} else {
			message.error(data.message);
		}
	})
}
onMounted(() => {
	userLists()
})
</script>
