<template>
	<div>
		<div>
			房源管理
		</div>
		<div>
			<a-tabs type="card" v-model:activeKey="activeKey">
				<a-tab-pane key="1" tab="新房售卖">
					<h1>
						新房售卖
					</h1>
				</a-tab-pane>
				<a-tab-pane key="2" tab="二手房售卖">
					<h1>
						二手房售卖
					</h1>
				</a-tab-pane>
				<a-tab-pane key="3" tab="房屋租赁">
					<h1>
						房屋租赁
					</h1>
				</a-tab-pane>
			</a-tabs>
		</div>
	</div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
	setup() {
		const value = ref<string>('');
		return {
			activeKey: ref('1'),
			value,
		};
	},
});
</script>

<style></style>
