<template>
	<div class="login">
		<a-form name="custom-validation" ref="formRef" :model="formState" :rules="rules" v-bind="layout"
			@finish="handleFinish" @finishFailed="handleFinishFailed">
			<a-form-item has-feedback label="用户名" name="username">
				<a-input v-model:value="formState.username" autocomplete="off" />
			</a-form-item>
			<a-form-item has-feedback label="密码" name="password">
				<a-input v-model:value="formState.password" autocomplete="off" />
			</a-form-item>
			<a-form-item has-feedback label="验证码" name="captcha">
				<a-space>
					<a-input style="width: 160px" v-model:value="formState.captcha" autocomplete="off" />
					<span class="captcha"> abcd </span>
					<a-button> 获取验证码 </a-button>
				</a-space>
			</a-form-item>
			<a-form-item :wrapper-col="{ span: 12, offset: 6 }">
				<a-button type="primary" html-type="submit">登录</a-button>
				<a-button style="margin-left: 10px" @click="resetForm">注册</a-button>
			</a-form-item>
		</a-form>
	</div>
</template>
<script lang="ts">
import { message } from "ant-design-vue";
import { RuleObject, ValidateErrorEntity } from "ant-design-vue/es/form/interface";
import axios from "axios";
import { defineComponent, reactive, ref, UnwrapRef } from "vue";
interface FormState {
	username: string;
	password: string;
	captcha: string;
}
export default defineComponent({
	setup() {
		const formRef = ref();
		const formState: UnwrapRef<FormState> = reactive({
			username: "yifan",
			password: "6b4bc3fa0a7da69e5f58c3edfb0a3c31",
			captcha: "",
		});
		let validatePass = async (rule: RuleObject, value: string) => {
			if (value === "") {
				return Promise.reject("Please input the password");
			} else {
				if (formState.username !== "") {
					formRef.value.validateFields("checkPass");
				}
				return Promise.resolve();
			}
		};
		let validatePass2 = async (rule: RuleObject, value: string) => {
			if (value === "") {
				return Promise.reject("Please input the password again");
			} else if (value !== formState.password) {
				return Promise.reject();
			} else {
				return Promise.resolve();
			}
		};
		const rules = {
			username: [{ required: true, validator: validatePass, trigger: "change" }],
			pasword: [{ validator: validatePass2, trigger: "change" }],
		};
		const layout = {
			labelCol: { span: 6 },
			wrapperCol: { span: 12 },
		};
		const handleFinish = async (values: FormState) => {
			// console.log(values);
			await axios.post('/api/user/login', values).then(({ data }) => {
				const token = data.token;
				if (data.code) {
					message.success(data.messgae);
					window.localStorage.setItem('userinfo', JSON.stringify(values))
					window.localStorage.setItem('token', JSON.stringify(token))
					window.location.href = '/home/resources';
				} else {
					message.error(data.message);
					window.location.href = '/user/login';
				}
			})
		};
		const handleFinishFailed = (errors: ValidateErrorEntity<FormState>) => {
			console.log(errors);
		};
		const resetForm = () => {
			formRef.value.resetFields();
		};
		return {
			formState,
			formRef,
			rules,
			layout,
			handleFinishFailed,
			handleFinish,
			resetForm,
		};
	},
});
</script>
<style>
body {
	background: url("../img/login.jpg");
}

.login {
	width: 800px;
	height: 400px;
	padding-top: 100px;
	background: url("../img/login1.jpg");
	border-radius: 15px;
	top: 50%;
	margin-top: 150px;
	left: 50%;
	margin-left: 350px;
}

.captcha {
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	border: 2px solid #fff;
	border-radius: 10px;
}
</style>
