<template>
	<div>
		<div>
			<span>
				<a-button type="primary" @click="showModal">添加用户</a-button>
			</span>
			<a-modal v-model:visible="visible" @ok="handleOk">
				<div>
					<a-form name="custom-validation" ref="formRef" :model="formState" v-bind="layout" @finish="handleFinish"
						@finishFailed="handleFinishFailed">
						<a-form-item ref="username" label="用户名" name="username">
							<a-input v-model:value="formState.username" />
						</a-form-item>

						<a-form-item ref="mobile" label="手机号" name="mobile">
							<a-input v-model:value="formState.mobile" />
						</a-form-item>

						<a-form-item :wrapper-col="{ span: 14, offset: 4 }">
							<a-button type="primary" html-type="submit">确定</a-button>
							<a-button style="margin-left: 10px" @click="resetForm">取消</a-button>
						</a-form-item>
					</a-form>
				</div>
			</a-modal>
		</div>
	</div>
</template>

<script lang="ts" setup>

import { message } from 'ant-design-vue';
import { ValidateErrorEntity } from 'ant-design-vue/es/form/interface';
import axios from 'axios';
import { reactive, ref, UnwrapRef } from 'vue';
interface FormState {
	username: string | undefined;
	mobile: string | undefined;
}
const visible = ref<boolean>(false);



//表单
const formRef = ref();
const formState: UnwrapRef<FormState> = reactive({
	username: undefined,
	mobile: undefined,
});
const layout = {
	labelCol: { span: 4 },
	wrapperCol: { span: 14 },
};
const handleFinish = async (values: FormState) => {
	await axios.post('/api/addUsers', values).then(({ data }) => {
		console.log(data);
		if (data.code) {
			message.success(data.message);

		} else {
			message.error(data.message);
		}
	})
};

const showModal = () => {
	visible.value = true;
};

const handleOk = () => {
	visible.value = false;
	location.href='/home/user'
};

const handleFinishFailed = (errors: ValidateErrorEntity<FormState>) => {
	console.log(errors);
};
const resetForm = () => {
	formRef.value.resetFields();
};
</script>

<style></style>
