<template>
	<div>
		<div class="registry">
			<div>
				<a-form name="custom-validation" ref="formRef" :model="formState" v-bind="layout" @finish="handleFinish"
					@finishFailed="handleFinishFailed">
					<a-form-item has-feedback label="用户名" name="username">
						<a-input v-model:value="formState.username" autocomplete="off" />
					</a-form-item>
					<a-form-item has-feedback label="密码" name="password">
						<a-input v-model:value="formState.password" type="password" autocomplete="off" />
					</a-form-item>
					<a-form-item :wrapper-col="{ span: 14, offset: 4 }">
						<a-button type="primary" @click="logins">登录</a-button>
						<a-button type="primary" html-type="submit">注册</a-button>
					</a-form-item>
				</a-form>
			</div>
		</div>
	</div>
</template>

<script lang="ts" setup>
import axios from 'axios';
import router from '../../router';
import { message } from 'ant-design-vue';
import { reactive, ref, UnwrapRef } from 'vue';
import { ValidateErrorEntity } from 'ant-design-vue/es/form/interface';


interface FormState {
	username: string;
	password: string;
}
const formRef = ref();
const formState: UnwrapRef<FormState> = reactive({
	username: '',
	password: '',
});


const layout = {
	labelCol: { span: 4 },
	wrapperCol: { span: 14 },
};
const handleFinish = async (values: FormState) => {
	await axios.post('/api/user/registry', values).then(({ data }) => {
		if (data.code) {
			message.success(data.message);
			window.location.href = '/user/login'
		} else {
			message.error(data.message);
		}
	})
};
const logins = () => {
	router.replace('/user/login')
}
const handleFinishFailed = (errors: ValidateErrorEntity<FormState>) => {
	console.log(errors);
};
</script>

<style lang="less">
body {
	background: url("../../img/login.jpg");
}

.registry {
	width: 800px;
	height: 400px;
	padding-top: 100px;
	background: url("../../img/login1.jpg");
	border-radius: 15px;
	top: 50%;
	margin-top: 150px;
	left: 50%;
	margin-left: 350px;
}
</style>
