<template>
	<div>
		<div>
			审核管理
		</div>
		<div>
			<a-space>
				<a-select v-model:value="province" style="width: 150px"
					:options="provinceData.map(pro => ({ value: pro }))">
				</a-select>
				<a-button type="primary">查询</a-button>
			</a-space>
		</div>
	</div>
</template>

<script lang="ts">

import { defineComponent, reactive, toRefs, computed, watch, ref } from 'vue';

const provinceData = ['Zhejiang', 'Jiangsu'];
const cityData = {
	Zhejiang: ['Hangzhou', 'Ningbo', 'Wenzhou'],
	Jiangsu: ['Nanjing', 'Suzhou', 'Zhenjiang'],
};

export default defineComponent({
	setup() {
		const value = ref<string>('');
		const province = provinceData[0];
		const state = reactive({
			province,
			provinceData,
			cityData,
			secondCity: cityData[province][0],
		});
		const cities = computed(() => {
			return cityData[state.province];
		});

		watch(
			() => state.province,
			val => {
				state.secondCity = state.cityData[val][0];
			},
		);

		return {
			value,
			...toRefs(state),
			cities,
		};
	},
});
</script>

<style></style>
