<template>
	<div>
		<div>
			<a-button type="primary" @click="showModal">新增</a-button>
			<a-modal v-model:visible="open" title="新增" @ok="handleOk" class="modalGroup">
				<div>
					<a-form :model="formState" :label-col="labelCol" :wrapper-col="wrapperCol">
						<a-form-item label="楼盘名称">
							<a-input v-model:value="formState.group_title" />
						</a-form-item>
						<a-form-item label="图片">
							<a-input v-model:value="formState.img" />
						</a-form-item>

						<a-form-item label="房屋名称">
							<a-input v-model:value="formState.house_name" />
						</a-form-item>

						<a-form-item label="省份">
							<a-input v-model:value="formState.province" />
						</a-form-item>

						<a-form-item label="城市">
							<a-input v-model:value="formState.city" />
						</a-form-item>

						<a-form-item label="区域">
							<a-input v-model:value="formState.county" />
						</a-form-item>

						<a-form-item label="详细地址">
							<a-input v-model:value="formState.address" />
						</a-form-item>

						<a-form-item label="创建时间">
							<a-input v-model:value="formState.start_time" />
						</a-form-item>

						<a-form-item label="结束时间">
							<a-input v-model:value="formState.end_time" />
						</a-form-item>
						<a-form-item label="描述">
							<a-input v-model:value="formState.group_info" />
						</a-form-item>

						<a-form-item :wrapper-col="{ span: 12, offset: 6 }">
							<a-button type="primary" @click="onSubmit">确定</a-button>
							<a-button style="margin-left: 10px">取消</a-button>
						</a-form-item>
					</a-form>
				</div>
			</a-modal>
		</div>
	</div>
</template>

<script lang="ts">

import axios from 'axios';
import { message } from 'ant-design-vue';
import { defineComponent, ref, reactive, toRaw, UnwrapRef } from 'vue';
interface FormState {
	group_title: string;
	img: string;
	house_name: string;
	province: string;
	city: string;
	county: string;
	address: string;
	start_time: string;
	end_time: string;
	group_info: string;
}

export default defineComponent({
	setup() {

		const formState: UnwrapRef<FormState> = reactive({
			group_title: '',
			img: 'http://tgi1.jia.com/109/960/9960506.jpg',
			house_name: '',
			province: '',
			city: '',
			county: '',
			address: '',
			start_time: '2023-08-17',
			end_time: '2023-08-17',
			group_info: '跳楼大甩卖只要998'
		});
		const onSubmit = async () => {
			await axios.post('/api/addHouse', toRaw(formState)).then(({ data }) => {
				if (data.code) {
					message.success(data.messgae);
				} else {
					message.error(data.messgae);
				}
			})
		};

		const open = ref<boolean>(false);
		const showModal = () => {
			open.value = true;
		};

		const handleOk = () => {
			open.value = false;
			window.location.href = '/home/group'
		};
		return {
			open,
			showModal,
			handleOk,

			labelCol: { span: 4 },
			wrapperCol: { span: 14 },
			formState,
			onSubmit,
		};
	},
});
</script>

<style scoped></style>
