<template>
  <div>
	<div>
			<p>
				<a-button @click="goBack">返回首页</a-button>
			</p>
			<p>
				房子的面积:{{ resourcesDetail.area }}
			</p>
			<p>
				省/市/区:{{ resourcesDetail.province }}省
				{{ resourcesDetail.city }}-{{ resourcesDetail.county }}
			</p>
			<p>房子标题:{{ resourcesDetail.name }}</p>
			<p>详细:{{ resourcesDetail.title }}</p>
			<p>房子的价格:{{ resourcesDetail.total_prices }}</p>
			<p>
				日期:
				{{ resourcesDetail.update_time }}
			</p>
		</div>
  </div>
</template>

<script lang="ts" setup>
import router from "../../../router";
const resourcesDetail=JSON.parse(localStorage.getItem('resourcesDetail'));
// console.log(resourcesDetail);
const goBack = () => {
	router.back(-1)
}
</script>

<style>

</style>
