<template>
	<div>
		<div>
			<p>
				<a-button @click="goBack">返回首页</a-button>
			</p>
			<p>
				房子的面积:{{ examineDetail.area }}
			</p>
			<p>
				省/市/区:{{ examineDetail.province }}省
				{{ examineDetail.city }}-{{ examineDetail.county }}
			</p>
			<p>房子标题:{{ examineDetail.name }}</p>
			<p>详细:{{ examineDetail.title }}</p>
			<p>房子的价格:{{ examineDetail.total_prices }}</p>
			<p>
				日期:
				{{ examineDetail.update_time }}
			</p>
		</div>
	</div>
</template>

<script setup lang="ts">
import router from "../../../router";


const examineDetail = JSON.parse(localStorage.getItem('examinesDetail'));
const goBack = () => {
	router.back(-1)
}


</script>
