<template>
	<div>
		<div>
			<span>
				<a-button type="primary" @click="showModal">添加经纪人</a-button>
			</span>
			<a-modal v-model:visible="visible" @ok="handleOk">
				<div>
					<a-form name="custom-validation" ref="formRef" 
					:model="formState" v-bind="layout" @finish="handleFinish"
						@finishFailed="handleFinishFailed">
						<a-form-item ref="name" label="经纪人名字" name="name">
							<a-input v-model:value="formState.name" />
						</a-form-item>

						<a-form-item ref="mobile" label="手机号" name="mobile">
							<a-input v-model:value="formState.mobile" />
						</a-form-item>

						<a-form-item ref="company" label="公司" name="company">
							<a-input v-model:value="formState.company" />
						</a-form-item>

						<a-form-item ref="first_hand_house" label="新房" name="first_hand_house">
							<a-input v-model:value="formState.first_hand_house" />
						</a-form-item>

						<a-form-item ref="second_hand_house" label="二手房" name="second_hand_house">
							<a-input v-model:value="formState.second_hand_house" />
						</a-form-item>

						<a-form-item ref="lease_house" label="租房" name="lease_house">
							<a-input v-model:value="formState.lease_house" />
						</a-form-item>

						<a-form-item ref="status" label="状态" name="status">
							<a-input v-model:value="formState.status" />
						</a-form-item>

						<a-form-item :wrapper-col="{ span: 14, offset: 4 }">
							<a-button type="primary" html-type="submit">确定</a-button>
							<a-button style="margin-left: 10px" @click="resetForm">取消</a-button>
						</a-form-item>
					</a-form>
				</div>
			</a-modal>
		</div>
	</div>
</template>

<script lang="ts" setup>
import axios from 'axios';
import { message } from 'ant-design-vue';
import { reactive, ref, UnwrapRef } from 'vue';
import { ValidateErrorEntity } from 'ant-design-vue/es/form/interface';

interface FormState {
	name: string | undefined;
	mobile: string | undefined;
	company: string | undefined;
	first_hand_house: string | undefined;
	second_hand_house: string | undefined;
	lease_house: string | undefined;
	status: string | undefined;
}
const visible = ref<boolean>(false);



//表单
const formRef = ref();
const formState: UnwrapRef<FormState> = reactive({
	name: undefined,
	mobile: undefined,
	company: undefined,
	first_hand_house: undefined,
	second_hand_house: undefined,
	lease_house: undefined,
	status: undefined
});
const layout = {
	labelCol: { span: 4 },
	wrapperCol: { span: 14 },
};
const handleFinish = async (values: FormState) => {
	await axios.post('/api/addbrokers', values).then(({ data }) => {
		// console.log(data);
		if (data.code) {
			message.success(data.message);
		} else {
			message.error(data.message);
		}
	})
};

const showModal = () => {
	visible.value = true;
};

const handleOk = () => {
	visible.value = false;
	location.href = '/home/broker'
};

const handleFinishFailed = (errors: ValidateErrorEntity<FormState>) => {
	console.log(errors);
};
const resetForm = () => {
	formRef.value.resetFields();
};
</script>

<style></style>
