<template>
  <div>
    <h4>直播管理</h4>
    <div style="width: 100%;height: 50px;display: flex;align-items: center;">
      <div>
        <span>直播状态：</span>
        <a-space>
          <a-select ref="select" v-model:value="value1" style="width: 120px" @focus="focus" @change="handleChange">
            <a-select-option value="请选择">请选择</a-select-option>
            <a-select-option value="直播中">直播中</a-select-option>
            <a-select-option value="已结束">已结束</a-select-option>
          </a-select>
        </a-space>
      </div>
      <div style="display: flex; align-items: center;margin-left: 50px;">
        <p>经纪人搜索：</p>
        <a-input-search v-model:value="value" placeholder="姓名/ID" style="width: 200px" @search="onSearch" />
      </div>
    </div>
    <!-- 直播列表切换 -->
    <a-tabs v-model:activeKey="activeKey">
    <a-tab-pane key="1" tab="全部直播">Content of Tab Pane 1</a-tab-pane>
    <a-tab-pane key="2" tab="直播中" force-render>Content of Tab Pane 2</a-tab-pane>
    <a-tab-pane key="3" tab="已结束">Content of Tab Pane 3</a-tab-pane>
  </a-tabs>
  </div>
</template>

<script lang="ts">
import { ref } from 'vue';
import type { SelectProps } from 'ant-design-vue';
export default {
  setup() {
    const value1 = ref('请选择');
    const value2 = ref('直播中');
    const value3 = ref('已选择');
    const options = ref<SelectProps['options']>([
      {
        value: '请选择',
        label: '请选择',
      },
      {
        value: '直播中',
        label: '直播中',
      },
      {
        value: '已结束',
        label: '已结束',
      },
    ]);
    const focus = () => {
      console.log('focus');
    };

    const handleChange = (value: string) => {
      console.log(`selected ${value}`);
    };
    // 搜索
    const value = ref<string>('');

    const onSearch = (searchValue: string) => {
      console.log('use value', searchValue);
      console.log('or use this.value', value.value);
    };
    // 列表切换
    const activeKey = ref('1');
    return {
      value1, value2, value3, focus, handleChange, options,
      onSearch,
      activeKey,

    }
  },

}
</script>

<style></style>