<template>
  <div>
    <h4>用户管理</h4>
    <div style="display: flex; align-items: center; width: 100%; height: 50px">
      <p>
        搜索：<a-input
          v-model:value="value"
          placeholder="请输入用户名、手机号"
          style="width: 260px"
        />
      </p>
      <a-button type="primary" ghost style="margin-left: 10px">查询</a-button>
    </div>
    <!-- 表格 -->
    <a-table :columns="columns" :data-source="data">
      <template #headerCell="{ column }">
        <template v-if="column.key === 'name'">
          <span>
            <smile-outlined />
            Name
          </span>
        </template>
      </template>

      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'name'">
          <a>
            {{ record.name }}
          </a>
        </template>

        <template v-else-if="column.key === 'action'">
          <span>
            <a-popconfirm
              title="您确定要删除吗?"
              ok-text="Yes"
              cancel-text="No"
              @confirm="confirm"
              @cancel="cancel"
            >
              <a href="#">删除</a>
            </a-popconfirm>
          </span>
        </template>
      </template>
    </a-table>
  </div>
</template>

<script lang="ts">
import { message } from "ant-design-vue";

export default {
  setup() {
    const columns = [
      {
        title: "序号",
        dataIndex: "id",
        key: "id",
      },
      {
        title: "用户名",
        dataIndex: "name",
        key: "name",
      },
      {
        title: "手机号",
        dataIndex: "age",
        key: "age",
      },
      {
        title: "操作",
        key: "action",
      },
    ];

    const data = [
      {
        key: "1",
        name: "John Brown",
        age: 32,
        address: "New York No. 1 Lake Park",
        tags: ["nice", "developer"],
      },
      {
        key: "2",
        name: "Jim Green",
        age: 42,
        address: "London No. 1 Lake Park",
        tags: ["loser"],
      },
      {
        key: "3",
        name: "Joe Black",
        age: 32,
        address: "Sidney No. 1 Lake Park",
        tags: ["cool", "teacher"],
      },
    ];
    const confirm = (e: MouseEvent) => {
      console.log(e);
      message.success("Click on Yes");
    };

    const cancel = (e: MouseEvent) => {
      console.log(e);
      message.error("Click on No");
    };
    return {
      columns,
      data,
      confirm,
      cancel,
    };
  },
};
</script>

<style></style>
